<template>
<section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Update Category</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form @submit.prevent="update" role="form">
              <div class="card-body">
                <div class="form-group col-md-6">
                  <label for="exampleInputEmail1">Chinese Name</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter Name" v-model="NameTW"/>
                </div>
                <div class="form-group col-md-6">
                  <label for="exampleInputEmail1">English Name</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter Name" v-model="NameEn"/>
                </div>
                <div class="form-group col-md-6">
                  <label for="exampleInputEmail1">Local Language</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter Name" v-model="NameVI"/>
                </div>
                <div class="form-group col-md-6">
                  <label for="exampleInputEmail1">Code</label>
                  <input v-model="Code" type="text" class="form-control" placeholder="Enter Code" />
                </div>
                <div class="form-group col-md-6">
                  <label for="exampleInputEmail1">Level</label>
                  <input v-model="Level" type="text" class="form-control" placeholder="Enter Level" />
                </div>
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <button  type="submit" class="btn btn-success">Save</button>
                <button @click="$router.push('/adminCategory')"  class="btn btn-danger">Close</button>
              </div>
            </form>
          </div>
          <!-- /.card -->
        </div>
        <!--/.col (left) -->
      </div>
    </div>
</section>
</template>

<script>
import { HTTP } from "../../http-constants";
import { required, minLength, sameAs } from "vuelidate/lib/validators";

export default {
  name: "UpdateCategory",
  data() {
    return {
      data: [],
      ID: 0,
      Name: null,
      NameVI: null,
      NameEn: null,
      NameTW: null,
      Level: 0,
      Code: null,
      submitted: false,
      LevelDefault: ''
    }
  },
  validations: {
    Name: { required },
    Level: { required },
    Code: { required }
  },
  created() {
    this.get(this.$route.params.id);
    this.ID = this.$route.params.id;
    // console.log(this.ID);
  },
  methods: {
    resetForm() {
      this.$router.push("/adminCategory");
    },
    get(id) {
      if (id == undefined) return;
      axios.get("adminCategory/GetbyID/" + id,{
        headers:{
          Authorization: 'Bearer '+ localStorage.getItem("authToken")
        }
      })
        .then(r => {
          console.log(r)
          // seft.loading = false;
          this.NameVI = r.data.NameVI
          this.NameEn = r.data.NameEn
          this.NameTW = r.data.NameTW
          this.Level = r.data.LevelID;
          this.Code = r.data.Code;
          this.LevelDefault = r.data.LevelID
        })
        .catch(r => {});
    },
    update() {
      if(this.Level != this.LevelDefault){
        Swal.fire({
          title: 'Are you sure?',
          text: "If your change the level number! you may lose data from OC Category and OC Category KPI",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, Update it!'
          }).then((result) => {
            if (result.value) {
            axios.post("adminCategory/Update2", {
              ID: this.ID,
              NameVI: this.NameVI,
              NameEn: this.NameEn,
              NameTW: this.NameTW,
              LevelID: this.Level,
              Code: this.Code,
              headers:{
                Authorization: 'Bearer '+ localStorage.getItem("authToken")
              }
            })
            .then(r => {
              this.$router.push("/adminCategory");
              success("update success!");
            })
            .catch(e => {
              alertify.error("Erro");
            });
          }
        })
      }
      else {
        axios.post("adminCategory/Update2", {
          ID: this.ID,
          NameVI: this.NameVI,
          NameEn: this.NameEn,
          NameTW: this.NameTW,
          LevelID: this.Level,
          Code: this.Code,
          headers:{
            Authorization: 'Bearer '+ localStorage.getItem("authToken")
          }
        })
        .then(r => {
          this.$router.push("/adminCategory");
          success("update success!");
          // console.log(r);
        })
        .catch(e => {
          alertify.error("Erro");
        });
      }
    }
  }
}
</script>