<template>
  <div id="appFooter">
    <footer class="main-footer ">
      <h5>
        <strong>Copyright &copy; 2020-2021 <a href="http://10.4.0.76:93/" target="blank">By Lab Team</a>.</strong>
        All rights reserved.
      </h5>
    </footer>
  </div>
</template>

<script>
export default {
  name: "appFooter"
};
</script>

<style lang="scss" scoped></style>
