<template>
    <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">

            <span class="login100-form-title p-b-33">
               KPI System
            </span>

            <!-- <div class="wrap-input100 validate-input" >
              <input @keyup.enter="login" v-model="user.username" class="input100" type="text" name="email" placeholder="Username">
              <span class="focus-input100-1"></span>
              <span class="focus-input100-2"></span>
            </div>

            <div class="wrap-input100 rs1 validate-input" >
              
              <input class="input100" @keyup.enter="login"  v-model="user.password" type="password" name="pass" placeholder="Password">
            
            </div> -->
            <div data-v-1d03bb73="" class="input-group mb-3">
              <input data-v-1d03bb73="" @keyup.enter="login" v-model="user.username" type="text" name="username" placeholder="Username" class="form-control">
              <div data-v-1d03bb73="" class="input-group-append">
               <div data-v-1d03bb73="" class="input-group-text">
                 <span >
                   <i class="fas fa-user"></i>
                 </span>
                </div>
              </div>
            </div>

            <div data-v-1d03bb73="" class="input-group mb-3">
              <input @keyup.enter="login"  v-model="user.password" data-v-1d03bb73="" :type="type" name="pass" placeholder="Password" class="form-control">
              <div data-v-1d03bb73="" class="input-group-append">
               <div data-v-1d03bb73="" class="input-group-text">
                 <span style="cursor:pointer" >
                   <i :class="fonticon" @click="showPassword" aria-hidden="true"></i>
                 </span>
                </div>
              </div>
            </div>

            <div class="container-login100-form-btn m-t-20">
              <button class="login100-form-btn" @click="login" @keyup.enter="login">
                Sign in
              </button>
              
            </div>
            <div class="text-center p-t-45 p-b-4">
              <p class="message">Forgot Password? <a href="#/Forgot-Password">Recovery now</a></p>
            </div>
        </div>
      </div>
    </div>
</template>

<script>
import { HTTP } from "../../http-constants";
// import axios from 'axios';
import i18n from '../../lang/i18n';
import EventBus from "../../utils/EventBus.js";
export default {
   data() {
    return {
      user: {
        username: '',
        password: ''
      },
      fonticon: "fa fa-eye-slash",
      type:'password',
      menuSidebar: 'aaa',
      loggedIn: this.$auth.loggedIn(),
    }
  },
  created(){


  },
  mounted(){
    $('.message a').click(function(){
      $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
    });
  },
  methods: {
    showPassword(){
      if(this.type === 'password') {
          this.type = 'text'
          this.fonticon = 'fa fa-eye'
       } else {
          this.type = 'password'
          this.fonticon = 'fa fa-eye-slash'
       }
    },
    login(){
      let self = this
      axios.post("api/auth/login", self.user )
        .then(function(res) {
          self.$auth.setToken(res.data.token, Date.now() + 14400000 ,res.data.user.Menus ,res.data.user.User.Alias,res.data.user.User.Role); // + 4 hours
          localStorage.setItem("ListOCs", res.data.user.User.ListOCs);
          localStorage.setItem("LevelOC", res.data.user.User.LevelOC);
          localStorage.setItem("Username", res.data.user.User.Username);
          var routerArrUser2 = [
            "/ChartPeriod",
            "/CategoryKPILevel",
            "/Favourite",
            "/Workplace",
            "/Compare",
            "/Dataset",
            "/LateOnUpload",
            "/ListHistoryNotification",
            "/ChartPeriod/ListTasks"
          ]
          var routerArrUser = [
            "/AdminKPI",
            "/AdminUser",
            "/AdminCategory",
            "/AdminOC",
            "/AddUserToLevel",
            "/AdminLevel",
            "/OCCategories",
            "/CategoryKPILevel",
            "/CategoryKPILevelAdmin",
            "/ChartPeriod/ListTasks",
            "/Dataset",
            "/Workplace",
            "/Compare",
            "/LateOnUpload",
            "/ListHistoryNotification",
            "/ChartPeriod",
            "/Favourite",
            "/home",
            "/home/admin",
          ];

          var routerArrAdmin = [
            "/AdminKPI",
            "/AdminUser",
            "/adminCategory",
            "/AdminOC",
            "/AddUserToLevel",
            "/AdminLevel",
            "/OCCategories",
            "/CategoryKPILevelAdmin",
            "/home"
          ];

          var uri = self.$route.query.redirect || "";
          if(self.$route.query.redirect.length != 0 )
          {
            var cpr = routerArrUser2.includes(uri);
            routerArrUser2.forEach((item, index)=>{
               if(uri.includes(item)) cpr = true;
            });

            var roleUser = routerArrUser.includes(uri);

            routerArrUser.forEach((item, index)=>{
               if(uri.includes(item)) roleUser = true;
            });
            var roleAdmin = routerArrAdmin.includes(uri);

            routerArrAdmin.forEach((item, index)=>{
               if(uri.includes(item)) roleAdmin = true;
            });
            // debugger
            if (Number(localStorage.getItem("Role")) == 2 && roleUser && Number(localStorage.getItem("LevelOC")) == 3 ) {
              self.$router.push(uri);
            }else if (Number(localStorage.getItem("Role")) == 2 && cpr && localStorage.getItem("LevelOC") != 3   ) {
              self.$router.push(uri);
            }else if (Number(localStorage.getItem("Role")) == 2 && roleUser && localStorage.getItem("LevelOC") != 3) {
              self.$router.push("/home");
            }else if (Number(localStorage.getItem("Role")) == 1 && cpr == false) {
              self.$router.push("/home");
            }else if (Number(localStorage.getItem("Role")) == 2 && roleAdmin) {
              self.$router.push("/home");
            } else if (Number(localStorage.getItem("Role")) == 1 && roleAdmin  ) {
              self.$router.push(uri);
            } else if (Number(localStorage.getItem("Role")) == 1 && roleUser ) {
              self.$router.push("/home");
            }
          }
          else{
            self.$router.push(uri);
          }
          success("success!");
      }).catch((res) => {
          warning("Username and password are incorrect, please try again!")
        });
    }
  }
}
</script>
<style >
/* @import url(https://fonts.googleapis.com/css?family=Roboto:300); */
/* 
.login-page {
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
} */
/* body {
  background: #e6ebe3;
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
  button {
    padding: auto;
    border: 1px solid green;
    font-size: 15px;
    margin: auto;
  }
</style>

